```gitignore
# =========================
# ENV
# =========================

.env
.env.*
*.env

# =========================
# NODE
# =========================

node_modules/

# =========================
# LOG
# =========================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# CACHE
# =========================

.cache/
dist/
build/
coverage/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# TEMP
# =========================

tmp/
temp/

# =========================
# WALLET
# =========================

wallets.txt
privatekeys.txt
pk.txt
seed.txt
mnemonic.txt

# =========================
# PM2
# =========================

.pm2/

# =========================
# SECRETS
# =========================

secret.json
config.local.json
```
